.fsMain {
  margin-right: 600px;
}

.container {
  margin-left: 250px;
  margin-top: 40px;
  margin-right: 250px;
}

.getAnswer {
  font-weight: bold;
  font-size: 20px;
}

.spanning {
  margin-left: 300px;
}